node_modules/
web-build/
.vscode/
.expo/
dist/
lib/

npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# App set up files
prettierrc.js

# personal files
todo.md

# macOS
.DS_Store

# for security
.env

