node_modules/
web-build/
.vscode/
.idea/
.expo/
dist/
lib/

npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# App config files
.prettierrc.js
.eslintrc.js

# personal files
todo.md

# macOS
.DS_Store

# for security
.env

